@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@media screen and (max-width: 540px) {
.topnav {
    margin: auto;
    overflow: hidden;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    background-color: #171717;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.topnav a {display: none;
}
.topnav #logo{
    display: none;
}
.topnav a.icon {
    float: right;
    display: block;
}
.topnav.responsive {
    position: relative;
}
.topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
}
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
}
nav {
    display: none;
}
}
@media screen and (max-width: 540px) {
body {
    background-color: #171717;
    margin: 0;
}
.wrapper {
    display: flex;
    justify-content: center;
}
.container {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.container a {
    text-decoration: none;
}
.scroll {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    scroll-snap-align: start;
}
.scroll p {
    padding-top: 20vh;
    font-size: 4vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.scroll b {
    padding-top: 25vh;
    font-size: 9vw;
    font-family: 'Righteous', cursive;
}
#scroll-1 {
    color: rgb(255, 255, 255);
    background-color: #171717;
    background-image: url('../Images/program.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100vh;
}
#title-1 {
    display: flex;
    margin: auto;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}
#text-1 {
    display: flex;
    margin: auto;
    font-weight: lighter;
}
#scroll-2 {
    color: rgb(255, 255, 255);
    background-color: #305cc2;
    background-image: url('../Images/program2.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 70vh;
}
#title-2 {
    display: flex;
    margin: auto;
    text-shadow: 0px 0px 10px rgb(0, 84, 180);
}
#text-2 {
    display: flex;
    margin: auto;
}
#scroll-3 {
    color: rgb(255, 255, 255);
    background-color: #74297e;
    background-image: url('../Images/ux.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 70vh;
}
#title-3 {
    display: flex;
    margin: auto;
    text-shadow: 0px 0px 10px rgb(206, 63, 241);
}
#text-3 {
    display: flex;
    margin: auto;
}
#scroll-4 {
    display: none;
    color: rgb(255, 255, 255);
    background-color: #cf4c24;
    background-image: url('../Assets/terra.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 70vh;
}
#title-4 {
    display: flex;
    margin: auto;
}
#text-4 {
    display: flex;
    margin: auto;
}
}
@media screen and (min-width: 541px) {
body {
    margin: 0 auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
body::-webkit-scrollbar {
    display: none;
}
.topnav {
    display: none;
}
nav {
    position: fixed;
    width: 100%;
    background-color: #17171780;
}
.nav-links {
    max-width: 1440px;
    margin: auto;
}
.link {
    float: left;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo {
    float: right;
    font-size: 25px;
    font-family: 'Righteous', cursive;
}
.nav-links a {
    text-decoration: none;
    color: #FFF;
    padding: 16px 25px;
}
.wrapper {
    display: flex;
    justify-content: center;

}
.container {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.container::-webkit-scrollbar {
    display: none;
}
.container a {
    text-decoration: none;
}
.scroll {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    scroll-snap-align: start;
}
.scroll p {
    padding-top: 20vh;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.scroll b {
    padding-top: 33vh;
    font-size: 15vh;
    font-family: 'Righteous', cursive;
}
#scroll-1 {
    color: rgb(255, 255, 255);
    background-color: #171717;
    background-image: url('../Images/program.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 70vh;
}
#title-1 {
    display: flex;
    margin: auto;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}
#text-1 {
    display: flex;
    margin: auto;
    font-weight: lighter;
}
#scroll-2 {
    color: rgb(255, 255, 255);
    background-color: #305cc2;
    background-image: url('../Images/program2.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 70vh;
}
#title-2 {
    display: flex;
    margin: auto;
    text-shadow: 0px 0px 10px rgb(0, 84, 180);
}
#text-2 {
    display: flex;
    margin: auto;
}
#scroll-3 {
    color: rgb(255, 255, 255);
    background-color: #74297e;
    background-image: url('../Images/ux.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 70vh;
}
#title-3 {
    display: flex;
    margin: auto;
    text-shadow: 0px 0px 10px rgb(206, 63, 241);
}
#text-3 {
    display: flex;
    margin: auto;
}
#scroll-4 {
    display: none;
    color: rgb(255, 255, 255);
    background-color: #cf4c24;
    background-image: url('../Assets/terra.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 70vh;
}
#title-4 {
    display: flex;
    margin: auto;
}
#text-4 {
    display: flex;
    margin: auto;
}
}